@{
    ViewBag.Title = "Home Page";
}

<style>

    ul {
        list-style-type: none;
        padding-left: 0;
    }


        ul li {
            margin-bottom: 5px;
        }
</style>

<main class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <section class="text-center">
        <div>
            <h1>Welcome to Hospital Management System</h1>
            <p>
                An application which helps the Hospitals to run efficiently and smoothly.
                
            </p>
            <p>This application provides features such as:</p>
            <ul>
                <li>Order management</li>
                <li>Patient Data Management</li>
                <li>Staff Data  Management</li>
                <li>And much more!</li>
            </ul>
        </div>
    </section>
</main>
