﻿@model HospitalManagement.Models.OrderDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Order</h2>
<form action="/Order/Update/@Model.Order_id" method="POST">
    <div style="display:none;">
        @* Pass through the order ID *@
        <input type="number" name="Order_id" value="@Model.Order_id" />
    </div>
    <div>
        <label>Patient ID:</label> <input type="number" name="PatientId" value="@Model.PatientId" />
    </div>
    <div>
        <label>Category:</label> <input type="text" name="Category" value="@Model.Category" />
    </div>
    <div>
        <label>Total Price:</label> <input type="number" name="Total_Price" value="@Model.Total_Price" />
    </div>
    <div>
        <input type="submit" value="Update Order" />

    </div>
</form>

